{% extends 'layout.html.twig' %}

{% block title 'Catálogo de canciones'%}

{% block content %}
    <h1>Catálogo de canciones</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <th>Artista</th>
            <th>Título</th>
            <th>Duración</th>
            <th>Año</th>

        </thead>
        <tbody>
            {% for cancion in canciones %}
                <tr>
                    <td><a href="{{ path('canciones_mostrar', {'id': cancion.id}) }}">{{ cancion.artista }}</a></td>
                    <td>{{ cancion.titulo }}</td>
                    <td>{{ cancion.duracion }}</td>
                    <td>{{ cancion.anio }}</td>


                </tr>
            {% else %}
                +            <tr>
                +                <td colspan="4">No hay canciones que mostrar</td>
                +            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}