{% extends 'layout.html.twig' %}

{% block title 'Todos los usuarios'%}

{% block content %}
    <h1>Todos los usuarios</h1>
    <p class="well well-sm">

        <a href="{{ path('usuario_nuevo') }}" class="btn btn-success"><i class="fa fa-user"></i> Nuevo usuario</a>
    </p>


    <table class="table table-bordered table-hover table-striped">
        <thead>

            <th>NombreUsuario</th>
            <th>password</th>
            <th>nombre</th>
            <th>apellidos</th>
            <th>Fecha Nacimiento</th>
            <th>correo</th>
            <th>administrador</th>
            <th>Usuario Vip</th>
            <th>Editar</th>

        </thead>
        <tbody>
            {% for u in usuarios %}
                <tr>
                    <td>{{ u.nombreUsuario }}</td>
                    <td>{{ u.password }}</td>
                    <td>{{ u.nombre }}</td>
                    <td>{{ u.apellidos }}</td>
                    <td>{{ u.fechaNacimiento | date('d/m/Y') }}</td>
                    <td>{{ u.correo }}</td>
                    <td>{% if u.administrador == true  %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                    <td>{% if u.usuarioVip == true  %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                    {% if is_granted('ROLE_ADMIN')%}
                    <td><a href="{{ path('editar_usuario', {'id': u.id }) }}" title="Editar Usuario"><i class="fa fa-edit"></i></a></td>
                    {% endif %}
                </tr>
            {% else %}
                            <tr>
                                <td colspan="4">No hay canciones que mostrar</td>
                            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}