{% extends 'layout.html.twig' %}

{% block title 'Catálogo de canciones'%}

{% block content %}
    <h1>Catálogo de canciones</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <p class="well well-sm">

        <a href="{{ path('cancion_nueva') }}" class="btn btn-success"><i class="fa fa-user"></i> Nueva canción</a>
    </p>
    {% endif %}

    <table class="table table-bordered table-hover table-striped">
        <thead>

            <th>Título</th>
            <th>Artista</th>
            <th>Duración</th>
            <th>Año</th>
            <th>Género</th>
            <!-- he utilzado el role admin ya que utilizando el voter no me lo crea -->
            {% if is_granted('ROLE_ADMIN') %}
            <th>Editar</th>
            {% endif %}



        </thead>
        <tbody>
            {% for cancion in canciones %}
                <tr>
                    <td>
                    {% if is_granted('CANCION_MODIFICAR', cancion) %}
                    <a href="{{ path('cancion_usuario_mostrar', {'id': cancion.id}) }}">{{ cancion.titulo }}</a>
                    {% else %}
                        {{ cancion.titulo }}
                    {% endif %}
                    </td>


                    <td>{{ cancion.artista }}</td>
                    <td>{{ cancion.duracion }}</td>
                    <td>{{ cancion.fechaCancion | date('d/m/Y') }}</td>
                    <td>{{ cancion.genero }}</td>
                    {% if is_granted('CANCION_MODIFICAR', cancion) %}<td><a href="{{ path('cancion_mostrar', {'id': cancion.id}) }}" title="Editar Canción"><i class="fa fa-edit"></i></a></td>{% endif %}

                </tr>
            {% else %}
                            <tr>
                                <td colspan="4">No hay canciones que mostrar</td>
                            </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}